[Unit]
Description=NFS Shutdown service
DefaultDependencies=no
Before=shutdown.target reboot.target
Conflicts=reboot.target

[Service]
ExecStart=/usr/local/bin/aianfs.sh start
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=shutdown.target